body{
  margin:0;
  padding:0;
}
#header{

  width:100%;
  height:auto;
  padding:0;
  margin:0;
  border-bottom:3px solid red;

}

#header img{


}

.color-red{
  color:red;
}

.navbar{
  border-bottom: 3px solid red;
}

@media(max-width:768px){
  .display-3{
    font-size:250%;
  }
}
